
<ion-view>
	<ion-nav-title>
  		Change Password
  	</ion-nav-title>
	<form name="passwordForm" novalidate ng-submit="submit()">
		<ion-content has-bouncing="false">

		<div class="middle-box text-center p-lg">
			<div>
				<div class="list">
					<label class="item item-input item-floating-label">
						<span class="input-label">Current Password</span>
						<input type="password"
								placeholder="Current Password"
								name="Password"
								ng-model="password.old"
								ng-required="true"
								ng-minlength="6"
								ng-maxlength="20"
								ng-trim="true"
								ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,20}$/"/>
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">New Password</span>
						<input type="password"
								placeholder="New Password"
								name="Password"
								ng-model="password.newPassword"
								ng-required="true"
								ng-minlength="6"
								ng-maxlength="20"
								ng-trim="true"
								ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,20}$/"/>
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Confirm Your Password</span>
						<input type="password" name="Password Confirmation" placeholder="Confirm Your Password" ng-model="password.confirm" ng-required="true" ng-trim="true"/>
					</label>
				</div>

				<button type="submit" class="button button-positive button-block icon-left" style="padding-top:3px;margin-top:5em;">
					<i class="icon ion-ios-cloud-upload-outline"></i>
					Submit
				</button>

			</div>
		</div>

		</ion-content>
	</form>
</ion-view>
