
<script type="text/ng-template" id="output-field.htm">
	<div ng-switch on="layout" ng-if="value && field">
		<div ng-switch-default class="row">
			<label class="col col-33 control-label">
	            {{field}}
	        </label>
	        <div class="col col-67 form-control-static text-left">
	            {{value}}
	        </div>
		</div>
		<div ng-switch-when="vertical">
			<dt>{{field}}</dt>
			<dd>{{value}}</dd>
		</div>
	</div>
</script>

<script id="register-modal.htm" type="text/ng-template">
  <ion-modal-view class="register-modal">
    <ion-header-bar class="bar-positive" align-title="center">
      <h1 class="title">Get Started</h1>
			<button class="button button-icon button-clear ion-android-close m-r-sm" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content class="p-sm">
			<div class="middle-box text-center animated fadeInUp">
				<h3>Use your social media account to get started</h3>
				<div class="m-t-xl"></div>
				<button type="button" class="button button-block btn-fb icon-left m-t-md" ng-click="facebookAuthenticate()">
					<i class="icon ion-social-facebook m-r-sm"></i>
					Facebook
				</button>
				<button type="button" class="button button-block btn-tw icon-left m-t-md" ng-click="twitterAuthentication()">
					<i class="icon ion-social-twitter m-r-sm"></i>
					Twitter
				</button>
				<hr class="m-t-xl m-b-md"/>

				<p class="text-muted text-center m-b-lg">
					<small>- Or enter your beta key -</small>
				</p>
				<label class="item item-input m-b-md">
				  <i class="ion ion-key placeholder-icon"></i>
				  <input type="search" placeholder="Search" ng-model="user.beta_key">
				</label>
				<button class="button button-positive button-block icon-right" ng-click="checkBeta()">
					Next
					<i class="icon ion-arrow-right-c"></i>
				</button>
			</div>
    </ion-content>
  </ion-modal-view>
</script>

<script type="text/ng-template" id="product-image-modal.htm">
	<ion-modal-view>
		<ion-header-bar>
			<h1 class="title">{{item.Product_Name__c}}</h1>
		</ion-header-bar>
		<ion-content>
			<img delivery-item-image anchor="{{item.Image_URL__c}}"/>
		</ion-content>
	</ion-modal-view>
</script>

<script type="text/ng-template" id="order-status.htm">
	<h1 class='title' ng-if="endTime">
		<b>{{label}} </b>
		<timer end-time="endTime" ng-if="endTime">{{hours}}h {{minutes}}m</timer>
	</h1>
</script>

<script id="order-button.htm" type="text/ng-template">
	<button class="button button-full button-calm" ng-repeat="b in validator.buttons" ng-if="b.condition(order)" ng-click="b.action(order)">
        {{b.label}}
    </button>
</script>

<script id="delivery-item-status.htm" type="text/ng-template">
	<div class="item item-icon-right {{statusMap[item.Status__c].color}} text-center">
			<i class="icon {{statusMap[item.Status__c].icon}}"></i>
			{{item.Status__c}}
	</div>
</script>

<script id="camera-modal.htm" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Barcode Scanner</h1>
    </ion-header-bar>
    <ion-content>
			<div id="camera-modal">
				Initializing Scanner...
			</div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="order-modal.htm" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Available Orders</h1>
			<a class="button button-icon icon ion-close" ng-click="closeModal()"></a>
    </ion-header-bar>
    <ion-content class="order-list">
      <div class="list">
				<div ng-repeat="(key, value) in orderList | groupBy : 'OrderType'">
					<div class="item item-divider">
						{{key}}
					</div>
					<a class="item item-button-left" ng-repeat="order in value" ng-click="acceptOrder(order)">
						<button class="button button-positive img-circle">{{order.ShipToContact.Name | initials}}</button>
						<h2>{{order.ShipToContact.Name}}</h2>
						<p haversine lat-from="{{currentUser.Mailing_Location__Latitude__s}}" lon-from="{{currentUser.Mailing_Location__Longitude__s}}" lat-to="{{order.ShippingLatitude}}" lon-to="{{order.ShippingLongitude}}"></p>
						<p class="text-muted">
							{{(order.OrderType == 'Delivery') ? 'Drop Off' : 'Pick-Up'}}: {{order.In_Home_Try_On_Start__c | easy}} - {{order.In_Home_Try_On_End__c | easy}}
						</p>
					</a>
				</div>
			</div>
			<div class="middle-box text-center" ng-if="orderList.length == 0">
        <i class="icon ion-android-cancel"></i>
        <h3 class="font-bold">There are no orders available at this time.</h3>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="order-product.htm" type="text/ng-template">
	<ion-view>
		<ion-content class="product-details padding">

			<div class="box text-center">
				<img fallback-src ng-src="{{product.Image_URL__c}}"></img>
			</div>

			<div class="col-md-7">

				<h2 class="font-bold m-b-xs">
					{{product.Dorrbell_Product__r.Name}}
				</h2>
				<small>{{product.Variant_Title__c}}</small>
				<div class="m-t-md">
					<h2 class="product-main-price">{{product.Variant_Price__c | currency}}
						<small class="text-muted">Excludes Tax</small>
					</h2>
				</div>
				<hr>

				<h4 ng-if="product.Dorrbell_Product__r.Description__c">Product description</h4>

				<div class="small text-muted">
					{{product.Dorrbell_Product__r.Description__c}}
				</div>
				<dl class="small m-t-md">
					<dt>SKU</dt>
					<dd>{{product.Variant_SKU__c}}</dd>
					<dt class="m-t-sm">Store</dt>
					<dd>
						{{product.Store_Name__c}}
						<b>
             <span class="m-l-md" haversine lat-from="{{coords.latitude}}" lon-from="{{coords.longitude}}" lat-to="{{product.Dorrbell_Product__r.Store__r.Coordinates__Latitude__s}}" lon-to="{{product.Dorrbell_Product__r.Store__r.Coordinates__Longitude__s}}" ng-if="coords">
              </span>
            </b>
					</dd>
					<dt class="m-t-sm">List Price</dt>
					<dd>{{product.Compare_At_Price__c | currency}}</dd>
				</dl>
				<hr>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="store-hours.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title text-center">{{store.Name}} Hours</h1>
			<a class="button button-icon icon ion-close" ng-click="closeModal()"></a>
    </ion-header-bar>
    <ion-content class="p-md">
      <pre>{{store.Google_Store_Hours__c}}</pre>
    </ion-content>
  </ion-modal-view>
</script>
