<ion-view class="variant-edit">

  <ion-nav-bar class="bar bar-header bar-positive" align-title="center">
      <ion-nav-back-button class="button button-clear no-icon">
          Cancel
      </ion-nav-back-button>
      <ion-nav-title>
          {{product.Name}}
      </ion-nav-title>
      <ion-nav-buttons side="right">
          <button class="button button-clear" ng-click="saveVariant()" ng-if="product">
              Save
          </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  	<ion-content ng-cloak>
      <div class="list">
        <div class="item item-divider">
          Variant Image
        </div>
        <div class="item text-center" ng-if="images && images.length > 0" ng-cloak>
          <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="image in images">
              <div lazy-img="{{image.Image_Thumb__c}}" class="thumb"></div>
            </ion-slide-page>
          </ion-slides>
        </div>
        <div class="item text-center" ng-if="!images">
          <ion-spinner></ion-spinner>
        </div>
        <div class="item text-center" ng-if="images.length == 0">
          <h3 class="font-bold">You must first add images to the product.</h3>
        </div>
        <div class="item item-divider">
          Variant Details
        </div>
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            Size
          </div>
          <input ion-autocomplete
                  type="text"
                  placeholder="Size"
                  cancel-label="Go back"
                  readonly="readonly"
                  class="ion-autocomplete"
                  autocomplete="off"
                  max-selected-items="1"
                  ng-model="findOption(product.Product_Options__r.records, 'Size').Value__c"
                  items-method="getProductSizes(query)"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Color</span>
          <input ion-autocomplete
                  type="text"
                  placeholder="Size"
                  cancel-label="Go back"
                  readonly="readonly"
                  class="ion-autocomplete"
                  autocomplete="off"
                  max-selected-items="1"
                  ng-model="findOption(product.Product_Options__r.records, 'Color').Value__c"
                  items-method="getProductColors(query)"/>
        </label>
        <div class="item item-input item-stacked-label item-button-right">
          <span class="input-label">Barcode</span>
          <input type="text" placeholder="1234" ng-model="product.Barcode__c">
          <button class="button button-positive" ng-click="scanBarcode()" ion-stop-event="click">
            <i class="icon ion-qr-scanner"></i>
          </button>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Price</span>

          <input type="tel" placeholder="$1.99" ng-model="product.PricebookEntries.records[0].UnitPrice" ui-number-mask>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">SKU</span>
          <input type="text" placeholder="1234" ng-model="product.SKU__c">
        </label>
        <label class="item item-input item-stacked-label m-b-xl">
          <span class="input-label">Quantity</span>
          <input type="tel" placeholder="25" ng-model="product.Inventory_Quantity__c" ui-number-mask="0">
        </label>
      </div>

  	</ion-content>
</ion-view>
