<ion-view>
  	<ion-nav-title>
  		New Variant
  	</ion-nav-title>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
  	<ion-content class="variant-edit" lazy-scroll ng-cloak>
      <div class="list">
        <div class="item item-divider">
          {{parentProduct.Name}}
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Size
          </div>
          <select ng-model="variant.option1" sf-picklist="Product_Sizes__c" sf-object="Product2"> </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Color</span>
          <input type="text" placeholder="Blue" ng-model="variant.option2">
        </label>
        <div class="item item-input item-stacked-label item-button-right">
          <span class="input-label">Barcode</span>
          <input type="text" placeholder="1234" ng-model="variant.barcode">
          <button class="button button-positive" ng-click="scanBarcode()" ion-stop-event="click">
            <i class="icon ion-qr-scanner"></i>
          </button>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Price</span>

          <input type="tel" placeholder="$1.99" ng-model="metaprice.price" ui-number-mask>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">SKU</span>
          <input type="text" placeholder="1234" ng-model="variant.sku">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Quantity</span>
          <input type="text" placeholder="25" ng-model="variant.inventory_quantity" ui-number-mask="0">
        </label>
      </div>

  	</ion-content>
    <nav mfb-menu position="br" effect="zoomin"
         active-icon="ion-close-round" resting-icon="ion-plus-round"
         toggling-method="click" menu-state="menu">
      <button mfb-button icon="ion-archive" label="Save" ng-click="saveVariant(false)"></button>
      <button mfb-button icon="ion-plus-circled" label="Save &amp; New" ng-click="saveVariant(true)"></button>
    </nav>
</ion-view>
