<ion-view class="product-gallery">
  <ion-nav-title>{{product.Name}} Images</ion-nav-title>
  <ion-content ng-cloak>

    <div class="row" ng-if="product.Images__r.records">
      <div ng-repeat="image in product.Images__r.records track by $index"
            lazy-img="{{image.Image_Source__c}}"
            on-hold="openSubmenu($event, image)"
            ng-class="($parent.product.Image__r.Shopify_Id__c == image.Shopify_Id__c) ? 'col thumb selected' : 'col thumb'">
        <i class="icon ion-checkmark-circled" ng-if="$parent.product.Image__r.Shopify_Id__c == image.Shopify_Id__c"></i>
      </div>

      <div ng-repeat="image in loading.images track by $index"
            lazy-img="{{image.Image_Source__c}}"
            class="col thumb new">
        <i class="icon ion-ios-upload"></i>
      </div>
    </div>
    <div class="middle-box text-center p-m" ng-if="!product.Images__r.records || product.Images__r.records.length == 0">
      <i class="icon ion-image"></i>
      <h3 class="font-bold">Use the action button to add images for this product.</h3>
    </div>
  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" active-icon="ion-close" resting-icon="ion-plus-round" toggling-method="click" menu-state="menu.state">
    <button mfb-button icon="ion-grid" label="Gallery" ng-click="getPictureFromGallery()"></button>
    <button mfb-button icon="ion-camera" label="Camera" ng-click="getPicture()"></button>
  </nav>

</ion-view>
