
<ion-view class="product-new">
    <ion-nav-bar class="bar bar-header bar-positive" align-title="center">
        <ion-nav-back-button class="button button-clear no-icon">
            Cancel
        </ion-nav-back-button>
        <ion-nav-title>
            {{(editProduct) ? editProduct.Name : 'New Product'}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="saveProduct()" ng-disabled="!validator.validateSave(product, meta, tag)" ng-if="product">
                Save
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="Details" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-nav-view>
          <ion-content>
            <div class="list">
              <ion-item class="item-divider">
                Basic Information
              </ion-item>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Product Name</span>
                <input type="text" ng-model="product.title" placeholder="Example Product">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Product SKU</span>
                <input type="text" ng-model="product.sku" placeholder="1234">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Brand</span>
                <input type="text" ng-model="meta.brand" placeholder="Dorrbell">
              </label>
              <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Product Type
                </div>
                <input ion-autocomplete
                        type="text"
                        placeholder="Tops"
                        cancel-label="Go back"
                        readonly="readonly"
                        class="ion-autocomplete"
                        autocomplete="off"
                        max-selected-items="1"
                        ng-model="product.product_type"
                        items-method="getProductTypes(query)"/>
              </label>
              <label class="item item-input item-stacked-label" ng-if="!editProduct">
                <span class="input-label">Price</span>
                <input type="tel" placeholder="$1.99" ng-model="meta.price" ui-number-mask>
              </label>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>


      <ion-tab title="Categories" icon-on="ion-grid" icon-off="ion-grid">
        <ion-nav-view>
          <ion-content>
            <ion-list>
              <ion-item class="item-divider">
                Gender
              </ion-item>
              <ion-radio ng-model="tag.gender" ng-value="gender" name="gender" ng-change="updateGender('{{tag.gender}}')" ng-repeat="gender in genders">{{gender}}</ion-radio>
            </ion-list>

            <ion-list>
              <ion-item class="item-divider m-t-md">
                Category
              </ion-item>
              <ion-radio ng-model="tag.category" ng-value="c" name="category" ng-change="updateCategory('{{tag.category}}')" ng-repeat="c in categories">{{c}}</ion-radio>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab title="Tags" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline">
        <ion-nav-view>
          <ion-content>
            <div class="list">
              <label class="item item-input item-stacked-label hide">
                <div class="input-label">
                  Product Tags
                </div>
                <input ion-autocomplete
                        type="text"
                        placeholder="Tags"
                        cancel-label="Go back"
                        readonly="readonly"
                        class="ion-autocomplete tags"
                        autocomplete="off"
                        max-selected-items="20"
                        manage-externally="true"
                        ng-model="product.tags"
                        external-model="tag.externalModel"
                        model-to-item-method="modelToItemMethod(modelValue)"
                        items-method="getProductTags(query, isInitializing)"/>
              </label>
              <div class="item" ng-repeat="tag in product.tags">
                {{tag}}
              </div>
            </div>
            <div class="middle-box text-center p-m" ng-if="!product.tags || product.tags.length == 0">
              <i class="icon ion-ios-paper-outline"></i>
              <h3 class="font-bold">Use the edit button to tag this product.</h3>
            </div>
          </ion-content>
          <nav mfb-menu position="br" effect="zoomin" active-icon="ion-edit" resting-icon="ion-edit" menu-state="'open'" ng-click="editTags()" class="higher"> </nav>
        </ion-nav-view>
      </ion-tab>

      <ion-tab title="Description" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
        <ion-nav-view>
          <ion-content>
              <div class="list">
                <ion-item class="item-divider">
                  Additional Information
                </ion-item>
                <label class="item item-input">
                  <textarea placeholder="Description" ng-model="info.description"></textarea>
                </label>
                <label class="item item-input">
                  <textarea placeholder="Notes" ng-model="info.notes"></textarea>
                </label>
                <label class="item item-input">
                  <textarea type="text" placeholder="Fit" ng-model="info.fit"></textarea>
                </label>
                <label class="item item-input">
                  <textarea type="text" placeholder="Materials" ng-model="info.materials"></textarea>
                </label>
                <label class="item item-input">
                  <textarea type="text" placeholder="Condition" ng-model="info.condition"></textarea>
                </label>
                <label class="item item-input">
                  <textarea type="text" placeholder="Care" ng-model="info.care"></textarea>
                </label>
              </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
</ion-view>
